<footer>
  <div class="f-info">
    <div class="f-info-social">
      <i class="fa-brands fa-instagram"></i>
      <a
        href="https://www.linkedin.com/in/pragati-prajapati-4b845528a?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
      <a href="https://github.com/PragatiPrajapati552"
        ><i class="fa-brands fa-github"></i
      ></a>
    </div>
    <div class="name">&copy; Bai</div>
    <div class="f-info-links">
      <a href="#">About us</a>
      <a href="#">Privacy</a>
      <a href="#">Terms</a>
    </div>
  </div>
</footer>
